body {
    font-family: arial, helvetica;
    background: linear-gradient(225deg, #ffcc5c 20%, #3c3c3c 20% 50%, #ff6f69 50% 80%, #96ceb4 80%);
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 10px;
    height: 100vh;
    width: 97vw;
}

.menu {
    list-style: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    font-size: 15PX;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #ef8354;
}

.intro {
    margin-top: 20px;
}

#div0 {
    font-family: arial;
    text-align: center;
    font-size: 2.3em;
}

body {
    text-align: center;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #24303c;
    border-color: #24303c;
}

.panel-title {
    color: #ffffff;
    font-size: 20px;
    background-color: #24303c;
}

.panel-body {
    color: #ffffff;
    background-color: #24303c;
}

.container {
    width: 45vw;
}