body {
    font-family: arial, helvetica;
    background: linear-gradient(225deg, #ffcc5c 20%, #3c3c3c 20% 50%, #ff6f69 50% 80%, #96ceb4 80%);
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 10px;
    height: 100vh;
    width: 100vw;
}

.carrusel {
    width: 100vw;
    height: 20vh;
}

.menu {
    list-style: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    font-size: 15PX;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #ef8354;
}

.intro {
    margin-top: 20px;
}

body {
    text-align: center;
}

#div0 {
    font-family: arial;
    text-align: center;
    font-size: 2.3em;
}

#div2 {
    font-size: 1.5em;
    font-family: Arial;
}

#div3 {
    font-family: arial;
    font-size: 1em;
    text-align: center;
}