* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
}

.intro {
    height: 100vh;
    /*background: linear-gradient(45deg, #ffcc5c 33%, rgba(0,0,0,0.6)35%), url(https://images.unsplash.com/photo-1510519138101-570d1dca3d66);
    background-size: cover; */
    background: linear-gradient(225deg, #ffcc5c 20%, #3c3c3c 20% 50%, #ff6f69 50% 80%, #96ceb4 80%);
}